<div class="title">
  <div class="display">
    <app-time-display [inputData]="present">
      <p>룰루랄라</p>
      <!--부모컴포넌트에서 모름 실제로 화면에 나타나지 않는다 -->
    </app-time-display>
    <!-- <app-time-display></app-time-display> -->

    <!-- <app-buttons (clickEvent)="startTime($event)"></app-buttons> -->

    <!-- {{ commandText }} -->
    <!--재사용성~-->
    <!-- <app-buttons (clickEvent)="commandText = $event"></app-buttons> -->
  </div>

  <!-- routerLink: 화면이 갱신되지 않고 바로 페이지 이동 -->
  <!-- <a [routerLink]="'/clock'">시계로 이동</a> -->
  <div class="btn">
    <button (click)="goClock()">시계로 이동</button>
  </div>

  <!-- <button (click)="pageToggleService.plusCount()">
     숫자확인 테스트
  </button> -->

  <!-- {{pageToggleService.routingCount}} -->
</div>
